{include file='public/_meta.html' /}
<title>编辑分类</title>
</head>
<body>
<div class="page-container">
    <form action="{:url('admin/category/addColumnAct')}" method="post" class="form form-horizontal" id="form-user-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                分类名称：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" value="" placeholder="栏目名称" id="user-name" name="cname">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                父级：</label>
            <div class="formControls col-xs-6 col-sm-6">
				<span class="select-box">
				  <select class="select" size="1" name="pid">
					<option value="0" selected>顶级</option>
					  {foreach $res as $v}
						<option value="{$v->id}" {$pid==$v->id?'selected':''}>{$v->cname}</option>
					  {/foreach}
				  </select>
				</span>
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                排序：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" value="0" name="zindex">
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>
                状态：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div class="radio-box">
                    <input type="radio" id="radio-1" name="status" value="1" checked>
                    <label for="radio-1">启用</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="radio-2" name="status" value="0">
                    <label for="radio-2">停用</label>
                </div>
            </div>
        </div>

        <div class="row cl">
            <div class="col-9 col-offset-2">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
<!--_footer 作为公共模版分离出去-->
{include file='public/_footer.html' /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){

    });
</script>
</body>
</html>