{include file='public/_meta.html' /}
<title>系统日志</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	系统管理
	<span class="c-gray en">&gt;</span>
	系统日志
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c"> 日期范围：
		<input type="text" name="start_time" id="countTimestart" onfocus="selecttime(1)" value="" size="17" class="date" readonly> - <input type="text" name="end_time" id="countTimeend" onfocus="selecttime(2)" value="" size="17"  class="date" readonly>
		<input type="text" name="" id="" placeholder="日志名称" style="width:250px" class="input-text">
		<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜日志</button>
	</div>
	<br>
	<table class="table table-border table-bordered table-bg table-hover table-sort">
		<thead>
			<tr class="text-c">
				<th width="80">ID</th>
				<th width="100">类型</th>
				<th>内容</th>
				<th width="17%">用户名</th>
				<th width="17%">用户名</th>
			</tr>
		</thead>
		<tbody>
		{foreach $res as $vo}
			<tr class="text-c">
				<td>{$vo->id}</td>
				<td>{$vo->type}</td>
				<td>{$vo->uname}</td>
				<td>{$vo->ip}</td>
				<td>{$vo->create_time}</td>
			</tr>
		{/foreach}
		</tbody>
	</table>
	<div id="pageNav" class="pageNav"></div>
</div>
<!--_footer 作为公共模版分离出去-->
{include file='public/_footer.html' /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    function selecttime(flag){
        if(flag==1){
            var endTime = $("#countTimeend").val();
            if(endTime != ""){
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime})}else{
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
        }else{
            var startTime = $("#countTimestart").val();
            if(startTime != ""){
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime})}else{
                WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})}
        }
    }
$('.table-sort').dataTable({
	"lengthMenu":false,//显示数量选择 
	"bFilter": false,//过滤功能
	"bPaginate": false,//翻页信息
	"bInfo": false,//数量信息
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[]}// 制定列不参与排序
	]
});

/*查看日志*/
function system_log_show(){
	
}
/*日志-删除*/
function system_log_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script>
</body>
</html>